

odooconectar.py
.env
secrets.json


.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# ==========================================
*.pdf
OS_*.pdf


*.png
temp_grafico_dosagem.png


*.xlsx
*.csv


.DS_Store
Thumbs.db